.admin-container {
    margin: 0;
    padding: 20px;
    
}


.admin-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


.admin-nav button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-nav button:hover {
    background-color: #0056b3;
}


.admin-section {
    display: none;
    flex-direction: column;

}

.update-section-admin {
    width: 100%;
    height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */

}

table.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5vh;
}

table.admin-table th, table.admin-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table.admin-table th {
    background-color: #f2f2f2;
}

.input-admin, form textarea {
    display: block;
    width: 40vw;
    padding: 10px;
    margin: 10px 0;
}

.input-admin-select {
    display: block;
    width: 10vw;
    padding: 10px;
    margin: 10px 0;
}

#adopt {
    border: 1px solid #101010;
    padding: 8px;
    width: 50vw;
    margin-top:2vh;


}
#add-article-form {
    border: 1px solid #101010;
    padding: 8px;
    width: 50vw;    
    margin-top:2vh;


}

#add-product-form {
    border: 1px solid #101010;
    padding: 8px;
    width: 50vw;
    margin-top:2vh;

}
.admin-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {

    .admin-nav {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

    } 

      /* Additional table styling */
      .admin-table th,
      .admin-table td {
        padding: 8px 12px;
        text-align: left;
        font-size: 14px; /* Smaller font for mobile */
        white-space: nowrap; /* Prevent wrapping inside cells */
      }

      
#adopt {
    border: 1px solid #101010;
    padding: 8px;
    width: 70vw;   
    margin-top:2vh;


}
#add-article-form {
    border: 1px solid #101010;
    padding: 8px;
    width: 70vw;   
    margin-top:2vh;


}

#add-product-form {
    border: 1px solid #101010;
    padding: 8px;
    width: 70vw;   
    margin-top:2vh;

}

.admin-section {
    display: none;
    flex-direction: column;

}

.update-section-admin {
    width: 100%;
    height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
}

} 