.catalog-display {
    display: grid;
    grid-template-columns: 15% 80%; /* Sidebar is 20%, product grid is 80% */
}

.sort {
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Slightly increase padding */
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.show-all-button {
    padding: 8px 15px; /* Uniform button size */
    background-color: #4caf50; /* Match styles */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9rem;
}

.show-all-button:hover {
    background-color: #45a049; /* Consistent hover effect */
}

.catalog-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.search-input {
    padding: 5px; /* Smaller search box */
    font-size: 0.9rem;
    width: 15%; /* Full width */
}

.search-button, .filter-button input[type="submit"] {
    padding: 8px 15px; /* Uniform button size */
    background-color: #4caf50; /* Match styles */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9rem;
}

.search-button:hover, .filter-button input[type="submit"]:hover {
    background-color: #45a049; /* Consistent hover effect */
}

.searchclass {
    display: flex;
    flex-direction: column;
}


.filter-section {
    margin-bottom: 15px; /* Decrease margin */
}


.filter-section h4 {
    font-size: 1.1rem; /* Smaller font size */
    color: #444;
    position: relative; /* Position relative to create the underline */
}
.filter-section h4::after {
    content: ""; /* Empty content for the underline */
    display: block; /* Make it a block element */
    width: 50%; /* Full width */
    height: 2px; /* Thickness of the underline */
    background-color: #ccc; /* Color of the underline */
    position: absolute; /* Position it absolutely */
    bottom: -5px; /* Position below the h4 */
    right: 0; /* Align to the left */
}

.filter-section label {
    font-size: 1rem;
    color: #333;
}

.filter-button {
    text-align: center;
    margin-top: 20px;
}

.filter-button input[type="submit"] {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.filter-button input[type="submit"]:hover {
    background-color: #007bb5;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    gap: 15px;
    margin-top: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 250px; /* Adjust as needed */
    height: 300px; /* Fixed height for uniformity */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.2s ease;
    position: relative;

}

.monthly-sale, .sale-label, .out-of-stock {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; /* Ensure they appear on top */
  }

  .monthly-sale {
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .sale-label {
    margin-top: 30px;
    margin-right: 10px;
  }
  
  .out-of-stock {
    margin-top: 50px;
    margin-right: 10px;
  }

.product-card:hover {
    transform: scale(1.05); 
}

.product-image img {
    width: 10vw;
    height: 15vh;
    object-fit: contain;

}

.product-name {
    font-size: 1.25rem;
    margin: 10px 0;
    color: #333;
}

.product-weight {
    font-size: 0.9rem;
    color: #777;
}

.product-price {
    font-size: 1.1rem;
    color: #333;
    margin: 10px 0;
}

.monthly-sale, .sale-label {
    position: relative;
    bottom: 240px;
    left: 25px;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 3px; /* Square corners */
}

.old-price {
    text-decoration: line-through;
    color: grey;
}

.new-price {
    color: red;
}

.show-product-button, .add-to-cart-button {
    background-color:white;
    border-color: black;
    color: black;
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.show-product-button:hover {
    background-color:black;
    color: white;}

.add-to-cart-button {
    background-color:black;
    color: white;
}

.add-to-cart-button:hover {
    background-color:white;
    border-color: black;
    color: black;
}

.out-of-stock {
    position: relative;
    bottom: 240px;
    left: 60px;
    background-color: rgb(122, 123, 124);
    color: white;
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 3px; /* Square corners */
}
.product-info {
    display: grid;
    grid-template-columns: repeat(1, 5fr); 
    gap: 5px;
}

#filterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filterForm {
    display: block;
}

#filterForm.show {
    display: block;
}
/* Button to open filter options (visible only on mobile) */
.toggle-filter-button {
    display: none;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Show the toggle button on mobile */
@media (max-width: 768px) {
    .toggle-filter-button {
        display: block;
    }

    .filter-button input[type="submit"] {
        width: 100%;
    }
}

/* Button to close filter options */
.close-filter-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.close-filter-button:hover {
    background-color: #d32f2f;
}
/* Cart Popup Overlay */
.cart-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Popup Content Box */
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Popup Header */
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.popup-header h3 {
    margin: 0;
    font-size: 1.2em;
}

/* Cart Products List */
.cart-products-list {
    max-height: 300px; /* Limit height to enable scrolling */
    overflow-y: auto; /* Scrollbar for long lists */
    padding-right: 10px; /* Space for scrollbar */
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* Center align the table */
}


.cart-table th,
.cart-table td {
    padding: 5px; /* Reduced padding for less space */
    text-align: center; /* Center align the content */
    vertical-align: middle;
    font-size: 0.9em;
    border: 1px solid #ddd; /* Add border around cells */
}


.cart-table th {
    background-color: #f7f7f7;
    font-weight: 600;
}

.cart-table tbody tr:hover {
    background-color: #f0f0f0;
}

.cart-table tbody tr {
    border-bottom: 1px solid #ddd; /* Border between rows */
}

/* Cart Image */
.cart-image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Product Info */
.product-info h4 {
    margin: 0;
    font-size: 1em;
}

.product-weight,
.old-price,
.new-price {
    font-size: 0.85em;
    margin: 5px 0;
}

.old-price {
    color: #888;
    text-decoration: line-through;
}

.new-price {
    color: #d9534f; /* Highlighted color for discount */
    font-weight: bold;
}

/* Popup Footer */
.popup-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2vw;
}

.go-to-cart-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.go-to-cart-button:hover {
    background-color: #0056b3;
}

.close-popup-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.close-popup-button:hover {
    background-color: #e53935;
}



@media (max-width: 768px) {

    .searchclass {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3vw;
    }

    .search-input {
        padding: 5px; /* Smaller search box */
        font-size: 0.9rem;
        width: 50%; /* Full width */
    }
    
    
.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Four columns */
    gap:0px;

}

.product-card {
    max-width: 140px;
    height: auto; /* Allow height to adjust for mobile */
    padding: 15px;
}


.catalog-display {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-card .price {
    font-size: 1rem;
}


#filterForm {
    display: none;
}

.sortclass {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.product-image img{
    width: 15vw;
    height: 15vh;
    object-fit: contain;

}

.sort {
    height: fit-content;
}

.monthly-sale, .sale-label, .out-of-stock {
    top: 0;
    right: 0;
    margin-top: 5px; /* Adjust margin for better spacing on smaller screens */
    margin-right: 5px;
  }
}