.base_container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    
}

.content {
    flex: 1;
  }
  

a {
    text-decoration: none;
}

.popup-menu {
    display: none;
}

input::placeholder {
    text-align: right;
    direction: rtl;
}

h3 {
    font-size: 18px; 
    margin: 0;
}

.header {
    background-color: rgb(151, 194, 200);
    height: 25vh;
    display: flex;
    align-items: center;
    padding: 1%;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0; 
    z-index: 1000;
}

.icon-left {
    position: absolute;
    top: 30%;
    left: 5%;
}

.icon-right-item {
display: flex;
flex-direction: column;
align-items: center;
}

.icon-left img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icon-right img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icon-right h3 {
    font-size: smaller;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-icon img {
    width: 40px; /* Adjust the size of the icon as needed */
    height: auto;
}

.cart-icon img:hover {
    transform: scale(1.1);
}


.cart-badge {
    position: absolute;
    top: -5px; /* Adjust these values to properly position the badge */
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 4px;
    font-size: 12px;
    font-weight: bold;
    min-width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3); /* Optional: adds a slight shadow */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin: 5px;
    
}

.navbar {
    background-color: #ffffff;
    width: 55vw;
    height: 10vh;
    border-radius: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.linknavbar {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.linknavbar:hover {
    color: #ff7f50;
    font-weight: 700;
}

.coverimg {
    width: 20vw;
    height: 20vh;
}
.logo {
    width: 50px;
}


h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #ff7f50;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #555;
}

.button, .orderbutton {
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.button:hover, .orderbutton:hover {
    background-color: #ff6347;
    transform: translateY(-2px);
}


/* Footer */
.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 0;
    background-color: #333;
    color: white;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}


/* Product Title */
.product h3 {
    font-size: 1.2rem;
    margin: 1.5vh 0 1vh 0;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
}

/* Product Description */
.product p {
    font-size: 0.9rem;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2vh;
}

/* Buy Now Button */
.buy-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.buy-button:hover {
    background-color: #0056b3;
}


.cart-image img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
}

.buttons_display {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
}


.form-group {
    margin-bottom: 10px;
}


.flash-message {
    margin-top: 15px; /* Space above flash message */
    padding: 10px; /* Padding for flash message */
    background-color: #e9f7fa; /* Light blue background */
    border: 1px solid #b2ebf2; /* Border color */
    color: #00796b; /* Text color */
    border-radius: 4px; /* Rounded corners for message box */
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f7f7f7;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50; /* Green button color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #45a049;
}

.checkbox-label {
    font-size: 14px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.checkbox-label input {
    margin-right: 8px;
}


@media (max-width: 768px) {
    .header {
        height: 15vh;  /* Reduced height on mobile */
    }

    .icon-left {
        top: 15%;
        left: 5%;
    }

    .icon-right-item h1 {
        font-size: 1.5rem;
    }

    .navbar {
        display: none; /* Hide navbar in mobile view */
    }

    .hamburger {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 25px;
        background-color: #333;
        position: absolute;
        top: 20%;
        right: 5%;

    }

    .hamburger div {
        background-color: #fff;
        height: 4px;
        width: 100%;
        margin: 5px 0;

    }

    .popup-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 70%;
        background-color: #ffffff;
        box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s ease;
        z-index: 1001;
    }

    .popup-menu.active {
        right: 0;
    }

    .popup-menu a {
        font-size: 1.5rem;
        color: #333;
        padding: 15px;
        text-align: center;
        display: block;
        text-decoration: none;
    }

    .popup-menu a:hover {
        background-color: #f0f0f0;
    }

    .popup-menu button {
        background-color: #ff7f50;
        color: white;
        padding: 10px 20px;
        font-size: 1.2rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2vh 0;
        background-color: #333;
        color: white;
        font-size: 0.7rem;
    }

    .icon-left img {
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }
    
    .login-box {
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 250px;
        text-align: center;
    }

    

}

