

@media (max-width: 480px) {

    /* Base container adjustments for small screens */
    .base_container {
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    /* Header responsiveness */
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .header h1 {
        font-size: 2.5rem;
    }
    
    .navbar {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 2px;
    }
    
    .icon-left {
        position: absolute;
        top: 3vh;
        left: 2vw;
    }
    
    .navbar a {
        padding: 10px 0;
        font-size: 1.2rem;
    }
    
  
    .icon-left img, .icon-right img {
        width: 30px;
        height: 30px;
    }
    
    .cart-icon img:hover {
        width: 35px;
        height: 35px;
    }
    
    /* Footer adjustments */
    .footer {
        text-align: center;
        font-size: 1rem;
    }
    

.dog-cat-image{
    display: none;

  }
  .logo {
    display: none;
}

    .squres-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 items per row */
        justify-items: center;
        align-items: center;
    }
    
    .squres-about div {
        margin: 10px 0;
        text-align: center;
    }
    
    /* Form and buttons */
    .animal-links {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .featured-image {
        width: 100px; /* Fixed width for images */
        height: 100px; /* Fixed height for images */
        object-fit: cover; /* Maintain aspect ratio while covering the area */
        border-radius: 100px; /* Rounded corners */
        margin-bottom: 10px; /* Space below the image */
    }

     .section3  {
        margin: 4vh auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    /* Product grid adjustments */
    .products-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .popular-product-card {
        width: 60%;
    }
    
    .adoption-info {
        text-align: center;
    }
    
    /* Promo box adjustments */
    .promo-box {
        width: 100%;
        text-align: center;
    }
    
    /* Adjust home page title font size */
    .website-title h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    
    /* Contact form adjustments */
    .contactform {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contactInput, .contactSubmit {
        width: 90%;
        margin: 10px 0;
    }
    }
