{% extends "new_base.html" %}

{% block about %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">


<div class="about-section">
    <div class="about-text">
        <h2>אודותינו</h2>
        <p>
            PET4ME, חנות חיות אונליין הממוקמת בערבה התיכונה, שואפת לספק לכם ולחיות המחמד שלכם את המיטב. 
        </p>
        <p>
            אנו מציעים מגוון רחב של מוצרים איכותיים ומזון בריא לבעלי חיים, כזכיינים של המותג הסקנדינבי Husse. השירות שלנו מהיר, ואנו משתדלים לספק את ההזמנות תוך שעות ספורות.
        </p>
        <p>
            המחירים שלנו תחרותיים, ואנו תמיד מקשיבים לכם – לקוחותינו, כדי לשפר את השירות ולהתאים אותו לצרכים שלכם ולרווחת חיות המחמד שלכם.        </p>
    </div>

    <div class="">
        <h2>לקוחות מספרים</h2>
        <div class="testimonials">
            <div class="testimonial-box">
                <p>"אצל אריאל מ- Pet4me מצאתי שירות אמין, מהיר ונדיב, ובנוסף לזה, איכפתיות ואוזן קשבת לרווחת בעלי החיים."</p>
                <div class="testimonial-name">ברכה קרני</div>
                <div class="testimonial-city">צוקים</div>
            </div>
            <div class="testimonial-box">
                <p>"לכלב שלי יש בעיה רפואית כרונית ואריאל הצליח למצוא לו בדיוק את האוכל המתאים לו במחיר הכי משתלם שקיבלתי אי פעם.
                    מרגישים את אהבת בעלי החיים של בעל העסק - אריאל.
                    בסופו של דבר חשוב לו שבעל החיים יקבל אוכל איכותי, שלא ישאר ללא אוכל חלילה, ומשתדל לתת מענה לכל צורך שעולה."</p>
                <div class="testimonial-name">נופר טל</div>
                <div class="testimonial-city">עין יהב</div>
            </div>
            
            <div class="testimonial-box">
                <p>"ממליצה מאוד! שירות ויחס אדיב, מקצועי, נעים ומהיר!"</p>
                <div class="testimonial-name">לירון רוזן</div>
                <div class="testimonial-city">"ערבה אוהבת חיות" (חצבה)</div>
            </div>
        </div>
    </div>

</div>

<script>
    
    document.querySelector('.hamburger').addEventListener('click', () => {
        document.querySelector('.nav-links').classList.toggle('active');
    });
    
</script>
{% endblock %}