{% extends "base.html" %}

{% block about %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

<div class="about-section">
    <div class="about-text">
        <h2>אודותינו</h2>
        <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        <p>
            פט4מי, חנות חיות אונליין הממוקמת בערבה התיכונה, שואפת לספק לכם ולחיות המחמד שלכם את המיטב. 
        </p>
        <p>
            אנו מציעים מגוון רחב של מוצרים איכותיים ומזון בריא לבעלי חיים, כזכיינים של המותג הסקנדינבי Husse. השירות שלנו מהיר, ואנו משתדלים לספק את ההזמנות תוך שעות ספורות.
        </p>
        <p>
            המחירים שלנו תחרותיים, ואנו תמיד מקשיבים לכם – לקוחותינו, כדי לשפר את השירות ולהתאים אותו לצרכים שלכם ולרווחת חיות המחמד שלכם.        </p>
    </div>

    <div class="">
        <h2>לקוחות מספרים</h2>
        <div class="testimonials">
            <div class="testimonial-box">
                <p>"This company is simply amazing! Their products exceeded all my expectations."</p>
                <div class="testimonial-name">John Doe</div>
                <div class="testimonial-city">New York, USA</div>
            </div>
            <div class="testimonial-box">
                <p>"Excellent customer service and top-quality products. Highly recommended!"</p>
                <div class="testimonial-name">Sarah Levi</div>
                <div class="testimonial-city">Tel Aviv, Israel</div>
            </div>
            <div class="testimonial-box">
                <p>"I am extremely satisfied with their work. They delivered everything on time and with great quality!"</p>
                <div class="testimonial-name">Ahmed Hussein</div>
                <div class="testimonial-city">Cairo, Egypt</div>
            </div>
        </div>
    </div>

    <img src="{{ url_for('static', filename='images/about-img.png') }}" alt="Our Team" style="width:20%;position:absolute; top: 15%; left:10%">
</div>
{% endblock %}