{% extends "base.html" %}

{% block article %}
<link rel="stylesheet" href="/static/article.css">

<div class="article-container">
    <h1 class="article-title">{{ article[1] }}</h1>  <!-- Article title -->
    
    <img src="/static/uploads/blog/{{ article[0] }}.png" alt="{{ article[1] }}" class="article-image">  <!-- Article image -->

    <div class="article-text">
        {{ article[4] }}  <!-- Article text content -->
    </div>

    <div class="article-footer">
        המאמר נכתב ע”י צוות דוגיפט והוא בגדר המלצה בלבד, יש להתייעץ עם וטרינר לפני כל יישום המלצה.
    </div>
</div>

{% endblock %}