{% extends "new_base.html" %}

{% block article %}
<link rel="stylesheet" href="/static/css/article.css">


<div class="article-container">
    <h1 class="article-title">{{ article[1] }}</h1>  <!-- Article title -->
    
    <img src="/static/uploads/blog/{{ article[3] }}" alt="{{ article[1] }}" class="article-image">  <!-- Article image -->

    <div class="article-text">
        {% for paragraph in article[4].split('|') %} <!-- Split text by delimiter -->
            <p>{{ paragraph }}</p> <!-- Display each part as a paragraph -->
        {% endfor %}
    </div>

</div>

<script>
    
    document.querySelector('.hamburger').addEventListener('click', () => {
        document.querySelector('.nav-links').classList.toggle('active');
    });
</script>
{% endblock %}