{% extends "new_base.html" %}

{% block new_cart %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_cart.css') }}">

    <main class="cart-container">
        <h1>עגלת קניות</h1>
        
        <div class="cart-layout">
            <!-- Cart Items Section -->
            <section class="cart-items">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th>פרטים</th>
                            <th>מחיר</th>
                            <th>כמות</th>
                            <th>הסרה</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if products %}

                        {% for product in products %}

                        <tr>
                            <td class="product-details">
                                <h3>{{ product[1] }}</h3>
                                <p>{{ product[7] }}</p>
                            </td>
                            <td class="product-price">
                                {% if product[12] > 0 %}
                                <p class="old-price">₪{{ product[3] | round(2) }}</p>  <!-- Round price to 1 decimal place -->
                                <p class="new-price">מחיר לאחר הנחה: ₪{{ (product[3] - (product[3] * product[12] / 100)) | round(2) }}</p>  <!-- Round price after discount to 1 decimal place -->
                            {% else %}
                                <p class="new-price">₪{{ product[3] | round(2) }}</p>  <!-- Round price to 1 decimal place -->
                            {% endif %}

                            </td>
                            <td class="product-quantity">
                                <form action="/update_cart" method="POST" class="quantity-form">
                                    <button type="submit" name="action" value="decrease" class="quantity-btn minus-btn">-</button>
                                    <input class="quantity-input" type="number" name="quantity" id="quantity-{{ product[0] }}" value="{{ product[14] }}" min="1">
                                    <input type="hidden" name="product_id" value="{{ product[0] }}">
                                    <button type="submit" name="action" value="increase" class="quantity-btn plus-btn">+</button>
                                </form>
                            </td>
                            <td class="product-remove">
                                <form action="/remove_cart" method="POST">
                                    <button type="submit" name="remove" value="{{ product[0] }}" class="remove-btn"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="3" class="no-products">אין פריטים להצגה</td>
                        </tr>
                        {% endif %}
            
                    </tbody>
                </table>
            </section>

            <!-- Order Summary Section -->
            <section class="order-summary">
                <div class="summary-card">
                    <h2>סיכום הזמנה</h2>
                    <div class="summary-details">
                        <div class="summary-row total">
                            <span>סה"כ לתשלום:</span>
                            <span>₪{{ total_price | round(2) }}</span>
                        </div>
                        <div class="summary-row">
                            <span>המחיר כולל מע"מ</span>
                        </div>
                    </div>
                    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-messages">
                            {% for category, message in messages %}
                                <div class="flash-message {{ category }}">
                                    <p>{{ message }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {%else%} -->

                    <form action="/submit_order" method="POST" class="order-form">
                        <div class="form-group">
                            <label for="name">שם מלא</label>
                            <input type="text" name="name" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">טלפון</label>
                            <input type="tel" name="phone" id="contactPhone" required  pattern="\d*" title="אנא הכנס מספרים בלבד" required>
                        </div>
                        <div class="form-group">
                            <label for="email">אימייל</label>
                            <input type="email" name="email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="address">כתובת למשלוח</label>
                            <div>אנא שים לב שמשלוחים מתבצעים לאזור הערבה בלבד</div>
                            <input type="text" name="address" id="address" required>
                        </div>
                        <div class="form-group">
                            <label for="notes">הערות להזמנה</label>
                            <textarea type="text" name="note" id="note" rows="3"></textarea>
                        </div>
                        <div>כל הפרטים יעברו בלחיצה על הזמנה לוואטספ של Pet4me </div>
                        <div>תשלום יתבצע לאחר מכן מול החנות </div>
                        <button type="submit" class="checkout-btn"  target="_blank" onclick="return validateForm()">שלח בקשת הזמנה בוואטספ</button>

                    </form>
                    <!-- {% endif %}
                    {% endwith %} -->
                </div>
            </section>
        </div>
    </main>

    <!-- Float WhatsApp -->
    <a href="https://wa.me/pet4me" class="float-whatsapp">
        <i class="fab fa-whatsapp"></i>
    </a>

    <script>
        // Hamburger Menu
        document.querySelector('.hamburger').addEventListener('click', () => {
            document.querySelector('.nav-links').classList.toggle('active');
        });

        function validateForm() {
            const phoneInput = document.getElementById('contactPhone').value;
            const phonePattern = /^05\d{8}$/; // Israeli mobile numbers starting with 05 and containing 10 digits
            const emailInput = document.getElementById('email').value;
            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/; // Basic email validation pattern

            // Validate phone number
            if (!phonePattern.test(phoneInput)) {
                alert("מספר הטלפון חייב להיות בן 10 ספרות ולהתחיל ב-05.");
                return false; // Prevent form submission
            }

            // Validate email
            if (!emailPattern.test(emailInput)) {
                alert("אנא הזן אימייל תקני.");
                return false; // Prevent form submission
            }

            return true; // Allow form submission
        }

        

    </script>
{% endblock %}